$standar-size: 0.4rem;
$sm: calc($standar-size * 1);
$md: calc($standar-size * 2);
$lg: calc($standar-size * 3);
$border-radius-sm: $sm;
$border-radius-md: $md;
$border-radius-lg: $lg;
$pd-sm: $sm;
$pd-md: $md;
$pd-lg: $lg;
$mg-sm: $sm;
$mg-md: $md;
$mg-lg: $lg;
$gap-sm: $sm;
$gap-md: $md;
$gap-lg: $lg;
$p10: hsl(0, 0%, 10%);
$p40: hsl(0, 0%, 40%);
$p90: hsl(0, 0%, 90%);
$p100: hsl(0, 0%, 100%);
$s40: hsl(292, 100%, 70%);
$t40: hsl(230, 100%, 70%);
